/* loginPage.module.css */
* {
    padding: 0;
    margin: 0;
  }

.header {
	width: 100%;
	/* height: 100vh; */
	height: 1000px;
	background-image: linear-gradient(to top, rgb(70, 159, 194), skyblue 20%, transparent), url(https://tecoble.techcourse.co.kr/static/348a6c1ea3a4fa8b6990e3e3bf4e8490/8ac6f/sample2.png);
	background-size: cover;
	background-position: center;
	position: relative;
}

.header h1 {
    text-align: left;
	font-size: 90px;
	color: whitesmoke;
	position: relative;
	top: 200px;
	left: 95px;
	font-weight: bold;
	margin-left: 60px;
	text-shadow: 2px 2px 4px rgba(0, 0, 5, 5);  /* 좌우 이동량, 상하 이동량, 흐림 정도, 그림자 색상 */
}

.header h3 {
    text-align: left;
	font-size: 45px;
	color: whitesmoke;
	position: relative;
	top: 230px;
	left: 95px;
	font-weight: bold;
	margin-left: 60px;
	text-shadow: 2px 2px 4px rgba(0, 0, 5, 5);  /* 좌우 이동량, 상하 이동량, 흐림 정도, 그림자 색상 */
}

.body {
	background: skyblue;
}

.footer {
	background-color: whitesmoke;
	height: 100px;
}

.features {
	position: relative;
	top: -930px;
	padding: 20px 40px;
	font-size: 22px;
}

.row1 {
	display: flex;
    justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 450px;
	height: 660px;
	background-color: rgba(255, 255, 255, 0.9);
	margin: 25px auto;
	border-radius: 20px;
	padding: 20px 40px;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);  /*  수평, 수직 오프셋, 흐림 반경, 그림자의 색상 */
}

.box1 {
    height: 100%;
    padding-top: 30px;
}

.box1 p{
    color: #000;
    padding-top: 100px;
}

.text_col { 
	width: 100%;
}

.text_col h3 {
    text-align: left;
	font-size: 45px;
	color: black;
	font-weight: bold;
}

.inputBox {
	width: 100%;
	margin-right: auto;
	padding-top: 30px;
	display: flex;
    justify-content: space-between;
}

form {
    width: 100%;
}

.inputId {
    height: 50px;
    width: 100%;
    background-color: rgb(183, 183, 183);
    border-radius: 10px;
    border-width: 0;
    padding-left: 20px;
}

.inputPassword {
    height: 50px;
    width: 100%;
    background-color: rgb(183, 183, 183);
    border-radius: 10px;
    border-width: 0;
    padding-left: 20px;
}

.inputId::placeholder {
    color: rgb(117, 117, 117);
    opacity: 1; /* 웹킷 브라우저에서의 기본 투명도를 무시 */
    font-style: italic;
}

.inputPassword::placeholder {
    color: rgb(117, 117, 117);
    opacity: 1; /* 웹킷 브라우저에서의 기본 투명도를 무시 */
    font-style: italic;
}

.loginId {
    padding-bottom: 16px;
}

/* .loginPassword {

} */


.buttonBox {
    width: 100%;
    padding-top: 40px;
}

.loginButton {
    width: 100%;
    height: 50px;
    background-color: rgb(61, 157, 240);
    border-radius: 10px;
    border-width: 0;
    font-weight: bold;
}





